*/.DS_Store
.DS_Store
clap-main/*
!clap-main/clap_files_go_here.txt
Backups/*


reaper_test.RPP
bitwig_test/*


example_plugin
example
*/*.clap
*.clap
*.dSYM
!example_bundle.clap
example_bundle.clap/Contents/MacOS/*
!example_bundle.clap/Contents/MacOS/put_clap_executable_here.txt